<div class='headest'>
    <div><a href="/artists/{{artist._id}}">Return to {{artist.name}}'s Review Page</a></div>
    <div><a href="/artists">Return to Artist Directory</a></div>
    <h2 class="title">{{artist.name}}'s Albums</h2>

    <form method="GET" action="/artists/{{artist._id}}/albums/new">
        <input type="submit" value="Create New Album">
    </form>
</div>


<table class="table">
    <thread>
        <tr>
            <th>Album Cover</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
    </thread>
    <tbody>
        {{#each albums}}
        <tr>
            <td>
               <img src="{{imgLink}}" alt="Image of {{name}}"  width="210" height="200"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img"> 
            </td>
            
            <td>{{name}}</td>
            <td>{{artistName}}</td>
            <td>{{genre}}</td>
            <td>{{rating}}</td>
            <td>
                <form method="GET" action="/artists/{{artistId}}/albums/{{_id}}/edit">
                    <input type="submit" value="Edit Album">
                </form>

                <form method="POST" action="/artists/{{artistId}}/albums/{{_id}}?_method=DELETE">
                    <input type="submit" value="Delete Album">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>