<a href="/artists">Back to all Artists</a>

<a href="/artists/{{artistId}}/edit">Edit Album</a>

<form action="/artists/{{artistId}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Album">
</form>

<h2>Single List</h2>

<a href="albums/new">Add New Single</a>

{{#each albums}}
    <div>
        <a href="/artists/{{_id}}/ablums/singles">{{name}}</a>
        
        <p>{{rating}}</p>
        
        
        
    </div>
{{/each}}