<div>
  <h3>Edit Album</h3>
  <form method="POST" action="/artists/{{album.artistId}}/album/{{album._id}}?_method=PUT">

      <lable for="name">Album Name:</lable>
    <input 
      type="text" 
      placeholder="name" 
      name="name" 
      id="name"
      value="{{album.name}}"
      />

    <label for="rating">Rating:</label>
    <input 
      type="number" 
      name="rating" 
      id="rating"
      value="{{album.rating}}"
    />

    <label for="img-link">Image Link:</label>
    <input
      type="text"
      name="imgLink"
      id="img-link"
      value="{{album.imgLink}}"
    />

    <input
      type="submit"
      value="Update Album"
    />

  </form>  
</div>

