<a href="/artists">Back to all Artists</a>

<h2>{{artist.name}}</h2>
<h3>{{album.name}}</h3>

<a href="/artists/{{artist._id}}/edit">Edit Album</a>


<form action="/artists/{{artist._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Artist">
</form>

<h3>Albums</h3>

<ul>
    {{#each Albums}}
        <li>{{name}}</li>
    {{/each}}
</ul>