{{!-- <h2>All Artists</h2>

<a href="/artists/new">Add New Artist</a>

{{#each artists}}
    <div>
        <a href="/artists/{{_id}}">{{name}}</a>
        <p>{{rating}}</p>
        <p>{{description}}</p>
        <p>{{category}}</p>
        <img src="{{imgLink}}" alt="Image of {{name}}">
    </div>
{{/each}} --}}