<a href="/artists">Return to Artist Directory</a>

<section class="headest">
    <div class="container">
        <div id="artist-header">
            <div id="artist-col-one">
                <div class="name float-left display-4">{{artist.name}}</div>
                <div><img src="{{artist.imgLink}}" class="img float-left" id="artistImage"
                        alt="Image of {{artist.name}}"></div>
            </div>
            <div id="artist-col-two">
                <p class="lead text"><b>rating: </b>{{artist.rating}}</p>
                <div id="artist-buttons">
                    <form method="GET" action="/artists/{{artist._id}}/edit">
                        <input type="submit" value="Edit Artist" class="btn-edit-artist">
                    </form>

                    <form method="POST" action="/artists/{{artist._id}}?_method=DELETE">
                        <input type="submit" value="Delete Artist" class="btn-delete-artist">
                    </form>
                </div>

                <form method="GET" action="/artists/{{artist._id}}/albums">
                    <input type="submit" value="View {{artist.name}}'s Albums" class="btn-artist">
                </form>

            </div>
        </div>

    </div>
</section>

<section class="container artist-reviews">
    <div class="rounded display-4">Artist Reviews</div>
    <form method="GET" action="/artists/{{artist._id}}/newReview">
        <input class="btn-post-review" type="submit" value="Post a Review">
    </form>
    <table class="table">
        <thread>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Review</th>
            </tr>
        </thread>
        <tbody>
            {{#each review}}
            <tr>
                <td>{{name}}</td>
                <td>{{createdAt}}</td>
                <td>{{description}}</td>
                <td>
                    <form method="GET" action="/artists/{{artistId}}/review/{{_id}}/edit">
                        <input type="submit" value="Edit Review" class="edit-review">
                    </form>

                    <form method="POST" action="/artists/{{artistId}}/review/{{_id}}?_method=DELETE">
                        <input type="submit" value="Delete Review" class="btn2"
                            id="delete-review">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>