{{!-- <form method="POST" action="/artists/{{shop._id}}?_method=PUT">

  <!--
    Template for creating input form for a boolean object member
  -->
    <lable for="name">Artist Name:</lable>
  <input 
    type="text" 
    placeholder="name" 
    name="name" 
    id="name"
    value="{{artist.name}}"
    />

  <label for="rating">Rating:</label>
  <input 
    type="number" 
    name="rating" 
    id="rating"
    value="{{artist.rating}}"
  />

  <label for="category">Category:</label>
  <input 
    type="text" 
    name="category" 
    id="category"
    placeholder="category"
    value="{{artist.category}}"
    />

  <label for="description">Description:</label>
  <textarea 
    name="description" 
    id="description"
    cols="30"
    rows="10"
  >{{artist.description}}</textarea>

  <label for="img-link">Image Link:</label>
  <input
    type="text"
    name="imgLink"
    id="img-link"
    value="{{artist.imgLink}}"
  />

  <input
    type="submit"
    value="Update Artist"
  />

</form> --}}
