<form method="POST" action="/artists/{{artist._id}}?_method=PUT">

  <!--
    Template for creating input form for a boolean object member
  -->
    <lable for="name">Artist Name:</lable>
  <input 
    type="text" 
    placeholder="name" 
    name="name" 
    id="name"
    value="{{artist.name}}"
    />

  <label for="rating">Rating:</label>
  <input 
    type="number" 
    name="rating" 
    id="rating"
    value="{{artist.rating}}"
  />

  <label for="genre">Genre:</label>
  <input 
    type="text" 
    name="genre" 
    id="genre"
    placeholder="genre"
    value="{{artist.genre}}"
    />

  <label for="img-link">Image Link:</label>
  <input
    type="text"
    name="imgLink"
    id="img-link"
    value="{{artist.imgLink}}"
  />

  <input
    type="submit"
    value="Update Artist"
  />

</form>
