<a href="/artists">Back to all Artists</a>

<h2>{{artist.name}}</h2>

<a href="/artists/{{artist._id}}/edit">Edit Artist</a>

<form action="/artists/{{artist._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Artist">
</form>

<h3>Artist Albums</h3>

<a href="/artists/{{artist._id}}/albums/new">Add New Album</a>

<div>
    {{#each albums}}
        <a href="/artists/{{_id}}/albums">{{name}}</a>
        <img src="{{imgLink}}" alt="Image of {{name}}">
        <p>{{rating}}</p>
    {{/each}}
</div>